<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<ConfigFile>
	<ConfigVariables>
		<Var VST-dir="C:\Users\superpaik\lmms\VST"/>
	</ConfigVariables>
	<MenuSamplesFolders>
		<MenuItem show="Chill trap Project Folder" value="C:\Users\superpaik\lmms\projects\Mis EDM\2. In progress\Chill trap 27-02"/>
		<MenuItem show="Chill trap SAMPLES Folder" value="C:\Users\superpaik\lmms\projects\Mis EDM\2. In progress\Chill trap 27-02\Samples"/>
	</MenuSamplesFolders>
	<MenuFX>
		<MenuItem show="Effects/Delay/BabyComeback" value=""/>
		<MenuItem show="Effects/Delay/Echo Delay Line 0.1s" value="Echo Delay Line (Maximum Delay 0.1s)"/>
		<MenuItem show="Effects/Delay/GDuckDly" value=""/>
		<MenuItem show="Effects/Delay/ValhallaFreqEcho" value="ValhallaFreqEcho_x64"/>
		<MenuItem show="Mixing/Compresor/BUSTERse" value=""/>
		<MenuItem show="TAP AutoPanner" value=""/>
	</MenuFX>
	<MenuVeSTige>
		<MenuItem show="Piano/Keyzone Classic" value="Bitsonic\Keyzone Classic"/>
		<MenuItem show="Piano/Salamander Piano" value="Salamander Piano\Salamander Piano - 64"/>
		<MenuItem show="Sampler/Poise" value="OneSmallClue\Poise"/>
		<MenuItem show="Sampler/Sitala" value="Decomposer\Sitala"/>
		<MenuItem show="Synths/Surge" value="Surge\Surge"/>
		<MenuItem show="Synths/Tal-NoiseMaker-64" value="Tal\Tal-NoiseMaker-64"/>
		<MenuItem show="Vital" value="Vital\Vital"/>
	</MenuVeSTige>
</ConfigFile>

